@charset "UTF-8";


@import
  "utilities/vars",
  "utilities/mixins",
  "modules/cookie-notice",
  "modules/promoted",
  "modules/top-bar",
  "modules/ad-space";

body {
  background: #f6f6f6;
}

.wrapper {
  position: relative;
}

.noscroll {
  text-overflow: hidden;
}

.main-column {
  background: white;
  padding: 2em 1em;
}

article {
  header {
    h1,p {
      margin: 0;
    }
  }
}


.sub-nav {
  margin-top: 1em;
  background: $ad-background;
  float: left;
  padding: 0.25rem;
  dt {
    line-height: 2em;
  }
  dd {
    a {
      text-align: center;
      background: $blue;
      color: white;
      padding: 0.1875rem 0.1875rem;
      width: 2em;
      display: block;
    }
  }
}


.readNext {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100px;

  a {
    height: 100%;
    width: 100px;
    display: block;
    text-align: center;
    color: #d2d2d2;
  }
  i {
    font-size: 24px;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  &.right {
    right: 0;
  }
}


.scrollNotice {
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 200px;
  z-index: 100;
  background: white;
  border-top: 2px solid $blue-hover;
  padding: 1em;
  display: none;

  &.show {
    display: block;
  }
}
