// cookie notice
#cookie-notice {
  background: $yellow;
  padding: 1em;
  text-align: center;
  position: relative;

  p {
    margin: 0;
  }
  a {
    position: absolute;
    width: 1em;
    height: 1em;
    line-height: 1em;
    top: 4px;
    right: 4px;
  }
}
