
// .top-bar
.top-bar {
  background: $blue;
  color: white;
  .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
    color: white;
  }
}

.top-bar-section ul li {
  background: $blue;

  &:not(.has-form) a:not(.button) {
    background: $blue;
    color: white;
    &:hover {
      background: $blue-hover;
    }
  }
}

